<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h3>Contacts</h3>
      </div>
      <div class="col-xs-6">
        <span class="pull-right">
           <a class="btn btn-success pull-right"
              routerLinkActive="active"
              [routerLink]="['new']"
           >New Contact</a>
        </span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <cms-contact-item
        *ngFor="let contact of contacts"
        [contact]="contact"
    ></cms-contact-item>
  </div>
</div>
