<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h3>Contacts</h3>
      </div>
      <div class="col-xs-6">
        <span class="pull-right">
          <button class="btn btn-success pull-right">New Contact</button>
        </span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <a class="list-group-item clearfix"
       href="#"
       *ngFor="let contact of contacts">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ contact.name }}</h4>
      </div>
      <span class="pull-right">
        <img class="img-responsive" alt="{{ contact.name }}" src="{{ contact.imageUrl }} " style="max-height: 50px;"/>
      </span>
    </a>
    <!-- <cms-contact-item></cms-contact-item> -->
  </div>
</div>
